<a href="https://colab.research.google.com/github/sanjana1391/Predicting-Depression-Anxiety-and-Stress/blob/main/Predicting_Depression%2C_Anxiety_and_Stress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [**Predicting Depression, Anxiety and Stress**](https://https://github.com/sanjana1391/Predicting-Depression-Anxiety-and-Stress)

##**Mini Project**

**TEAM NAME: Decode'N Morse**

TEAM MEMBERS: 

1.   **Ayushi Gupta** 1900321290024
2.   **Sanjana Jain** 1900321290053

**Introduction:**

The Taylor Manifest Anxiety Scale was first developed in 1953 to identify Individuals who would be good subjects for studies of stress and other related psychological phenomenon. Since then it has been used as a measure of anxiety as general personality trait. 

Anxiety is a complex psychological construct that includes a multiple of different facets related to extensive worrying that may impair normal functioning.

In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('/content/data.csv', error_bad_lines = False, warn_bad_lines = False, sep=r'	')
df

       Q1A  Q1I    Q1E  Q2A  ...  voted  married  familysize              major
0        4   28   3890    4  ...      2        1           2                NaN
1        4    2   8118    1  ...      2        1           4                NaN
2        3    7   5784    1  ...      1        1           3                NaN
3        2   23   5081    3  ...      2        1           5            biology
4        2   36   3215    2  ...      2        1           4         Psychology
...    ...  ...    ...  ...  ...    ...      ...         ...                ...
39770    2   31   3287    1  ...      2        1           2                NaN
39771    3   14   4792    4  ...      2        1           4         Mathematic
39772    2    1  25147    1  ...      1        2           3   Computer Science
39773    3   36   4286    1  ...      1        1           2            History
39774    2   28  32251    1  ...      1        1           4  Cognitive Science

[39775 rows x 172 columns]

In [10]:
df.head()

   Q1A  Q1I   Q1E  Q2A  Q2I  ...  race  voted  married  familysize       major
0    4   28  3890    4   25  ...    10      2        1           2         NaN
1    4    2  8118    1   36  ...    70      2        1           4         NaN
2    3    7  5784    1   33  ...    60      1        1           3         NaN
3    2   23  5081    3   11  ...    70      2        1           5     biology
4    2   36  3215    2   13  ...    10      2        1           4  Psychology

[5 rows x 172 columns]

In [11]:
df.tail()

       Q1A  Q1I    Q1E  Q2A  ...  voted  married  familysize              major
39770    2   31   3287    1  ...      2        1           2                NaN
39771    3   14   4792    4  ...      2        1           4         Mathematic
39772    2    1  25147    1  ...      1        2           3   Computer Science
39773    3   36   4286    1  ...      1        1           2            History
39774    2   28  32251    1  ...      1        1           4  Cognitive Science

[5 rows x 172 columns]

In [12]:
df.describe()

                Q1A           Q1I  ...       married    familysize
count  39775.000000  39775.000000  ...  39775.000000  39775.000000
mean       2.619485     21.555977  ...      1.159547      3.510270
std        1.032117     12.133621  ...      0.445882      2.141518
min        1.000000      1.000000  ...      0.000000      0.000000
25%        2.000000     11.000000  ...      1.000000      2.000000
50%        3.000000     22.000000  ...      1.000000      3.000000
75%        4.000000     32.000000  ...      1.000000      4.000000
max        4.000000     42.000000  ...      3.000000    133.000000

[8 rows x 170 columns]